<div style="display: flex; flex-direction: column; height: 600px; width: 600px; margin: 20px;">
  <label style="color: rgb(240, 68, 68); position: absolute; right: 5%; font-size: 20px;cursor:pointer" (click)="close()">X</label>
  <label style="color: rgb(0, 0, 0); position: absolute; left:3%; font-size: 20px;">ตะกร้า</label>

  <div style="margin-bottom: 4%;">

  </div>

  <div style="display: flex; flex-direction: column; height: auto;background-color:#D9D9D9; margin-top: 3%;">
      <span>ข้าวผัดน้ำพริกกะปิ</span>
      <span>&#3647; 79</span>

    <span style="color: #27BEDF">จัดส่งแล้ว</span>
  </div>

  <div style="display: flex; flex-direction: column; height: auto;background-color:#D9D9D9; margin-top: 3%;">
    <span>ข้าวผัดน้ำพริกกะปิ</span>
    <span>&#3647; 79</span>

    <span style="color:#DF3D27">ยังไม่ส่ง</span>
  </div>


  <div style="display: flex; flex-direction: column;width: auto;">

    <div style="display: flex;
    justify-content: space-between;">
        <h3>ราคารวมทั้งหมด</h3>
        <h3>&#3647; 79</h3>
    </div>
    <button (click)="order()" style="margin-top: 1%;background-color: rgb(30, 210, 78)">สั่งชื่อ</button>
  </div>

</div>
